<section class="p-10">
    <!--Home page-->
    <h1 class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-[#cecec1] md:text-5xl lg:text-6xl dark:text-white">Form for <mark class="px-2 text-white bg-[#296a5c] rounded dark:bg-blue-500">FISC's</mark> student hours</h1>
    <p class="text-lg text-center font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        Fill out the form below to register your hours as a student of the Faculty of Computer Science.
    </p>
    <app-student></app-student>
    <h1 class="mb-4 mt-24 text-center text-4xl font-extrabold leading-none tracking-tight text-[#cecec1] md:text-5xl lg:text-6xl dark:text-white">Form for <mark class="px-2 text-white bg-[#296a5c] rounded dark:bg-blue-500">Places</mark> were student helped</h1>
    <p class="text-lg text-center font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        Fill out the form below to register the places where you have helped as a student of the Faculty of Computer Science.
    </p>
    <app-location></app-location>
    <h1 class="mb-4 mt-24 text-center text-4xl font-extrabold leading-none tracking-tight text-[#cecec1] md:text-5xl lg:text-6xl dark:text-white">Form for <mark class="px-2 text-white bg-[#296a5c] rounded dark:bg-blue-500">Offers</mark> that a student can get advantage <i class="fas fa-star-of-david    "></i>.</h1>
    <p class="text-lg text-center font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        Fill an offer that an student can get advantage, like a job, a course, a good labor, etc.
    </p>
    <app-offer></app-offer>
</section>